p{
    background-color: rgba(246, 246, 246, 0.76);
    text-align: justify;
    width: 340px;
    padding: 0px 8px;
}

#paragraph{
}

.navbar{
    background-color: rgb(82, 88, 102);
    padding: 10px;
}

